{% extends 'base.html' %}

{% block title %}Hasker::Profile{% endblock %}

{% block content %}

<h2>Settings</h2>
{% if form.errors %}
<ul style="color: red;">
	{% for field in form %}
		{% for error in field.errors %}
			<li>{{ error|escape }}</li>
		{% endfor %}
	{% endfor %}
</ul>
{% endif %}

<p>Username: {{ user.username }}</p>
<form method="post" action="{% url 'profile' pk=user.id %}">
{% csrf_token %}
{{ form.email.label_tag }}
{{ form.email }}<br><br>
{{ form.avatar.label_tag }}<br>
<img src="{{ user.avatar.url }}" height="50", width="50">
{{ form.avatar }}<br><br>
<input class="btn btn-outline-secondary" type="submit" value="Save">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
